{{ $url := .Get "url" }}
{{ $name := .Get "name" }}

{{ $resp := resources.GetRemote $url }}
{{ $html := "" }}
{{ with $resp }}{{ $html = .Content | string }}{{ end }}

{{ $icon := "" }}
{{ with (findRE `<meta[^>]+property=["']og:image["'][^>]+content=["']([^"']+)["']` $html) }}
  {{ $icon = replaceRE `^.*content=["']([^"']+)["'].*$` "$1" (index . 0) }}
{{ end }}

<article class="app-card">
  <a href="{{ $url }}" target="_blank" rel="noopener">
    {{ if $icon }}
      <img src="{{ $icon }}" alt="{{ $name }} icon" width="35" height="35" loading="lazy" decoding="async">
    {{ end }}
  </a>
  <a href="{{ $url }}" target="_blank" rel="noopener">
    {{ $name }}
  </a>
</article>